.searchBox {
    padding-bottom: 20px;
}

.searchBoxLabel {
    display: block;
}

/* .inputWrapper {
    max-width: 269px;
} */

.searchBoxInput {
    width: 100%;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
    outline: transparent;
    color: black;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.searchBoxInput:hover,
.searchBoxInput:focus,
.searchBoxInput:active {
    border-color: #4D5AE5;
}