.contactList {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.contactListItem {
    /* width: calc((100% - 16px * 3) / 4); */
    width: 100%;
}

@media screen and (min-width:768px) {
    .contactListItem {
        width: calc((100% - 16px) / 2);
    }
}

@media screen and (min-width:1158px) {
    .contactListItem {
        width: calc((100% - 16px * 3) / 4);
    }
}